@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.custom-link {
  transition: color 0.3s; /* Add a smooth transition effect */
}

.custom-link:hover {
  color: blue;
}